@{
    ViewBag.Title = "403. Forbidden";
}
@Styles.Render("~/Content/Fontawesome/css/font-awesome.css")
@Styles.Render("~/Content/error.css")
<div class="not-found-wrapper">
    <h4>403. Forbidden</h4>
    <div>
        <h5><i class="fa fa-meh-o" aria-hidden="true"></i> Access forbidden.</h5>
    </div>
</div>
