@{
    ViewBag.Title = "404. Not found";
}
@Styles.Render("~/Content/Fontawesome/css/font-awesome.css")
@Styles.Render("~/Content/error.css")
<div class="not-found-wrapper">
    <h4>404. Not Found</h4>
    <div>
        <h5><i class="fa fa-meh-o" aria-hidden="true"></i> Page not found.</h5>
        <p>A few things that might help:</p>
        <ol>
            <li>
                Try checking the URL for errors, then hit the refresh button on your browser.
            </li>
            <li>
                Please use the links in the sidebar to find your way back to the real content! Thank you!
            </li>
        </ol>
    </div>
</div>
